<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a class="text-white mr-3" [routerLink]="['home']">
    <img width="20" alt="Angular Logo"
      src="assets\user_loged.png" />
      <span>{{username}}</span>
  </a>
  <div class="spacer"></div>
  <a class="text-white mr-3" [routerLink]="['/user']">User</a>
  <a class="text-white mr-3" [routerLink]="['/rol']">Rol</a>
  <div class="spacer"></div>
  <a [routerLink]="" (click)="logout()">
    <img width="20" alt="logout"
      src="assets\logout.png" />
  </a>
</div>

<div class="content" role="main">

  <router-outlet></router-outlet>
  <!-- Footer -->
  <footer>

  </footer>
</div>